.app.dark ::selection {
  background-color: var(--color-white);
  color: #9c88ff;
}

.app {
  transition: all 0.5s ease-in-out;
}

.app.dark {
  background-color: #111;
  transition: all 0.5s ease-in-out;
}

.app.dark .navbar {
  background-image: linear-gradient(to right bottom, #7968ce, #27015f);
}

.app.dark textarea {
  border: 1.5px solid #7968ce;
}

.app.dark textarea:focus {
  -webkit-box-shadow: inset 2px 4px 1rem 1px rgba(77, 77, 77, 0.57);
  box-shadow: inset 2px 4px 1rem 1px rgba(77, 77, 77, 0.57);
}

.app.dark .btn {
  background-image: linear-gradient(to right bottom, #7968ce, #8904aa);
}

.app.dark .btn:hover {
  background-image: linear-gradient(to left bottom, #7968ce, #8904aa);
}

.app.dark .list-items {
  -webkit-box-shadow: 0 0.3rem 1rem 0.5rem rgba(55, 55, 55, 0.2);
  box-shadow: 0 0.3rem 1rem 0.5rem rgba(55, 55, 55, 0.2);
}

.app.dark .review {
  color: rgb(156, 156, 156);
}

.app.dark .footer-text span:hover {
  background-color: #222;
  -webkit-box-shadow: 0 1rem 2rem rgba(55, 55, 55, 0.4);
  box-shadow: 0 1rem 2rem rgba(55, 55, 55, 0.4);
}
