:root {
  --color-white: #fff;
}

::-moz-selection {
  background-color: #9c88ff;
  color: var(--color-white);
}

::selection {
  background-color: #9c88ff;
  color: var(--color-white);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 17.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

.navbar {
  width: 100%;
  height: 7rem;
  background-image: linear-gradient(to right bottom, #a292f5, #7968ce, #4e00c2);
  display: flex;
  align-items: center;
}

.navbar__left {
  flex: 1;
}

.logo {
  display: inline-block;
  color: var(--color-white);
  margin-left: 3rem;
  letter-spacing: 1rem;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transform-origin: top;
  transition: all 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.toggle {
  display: inline-block;
  color: var(--color-white);
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.toggle:hover {
  transform: scale(1.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .container {
    align-items: flex-start;
    padding-right: 0;
  }
}

@media only screen and (max-width: 53.125em) {
  .container {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 45.3125em) {
  .container {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 3.5rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 23.75em) {
  .container {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .container {
    align-items: center;
  }
}

.heading-primary {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#bfb3fd),
    to(#7968ce),
    to(#a026bf)
  );
  background-image: linear-gradient(to right, #bfb3fd, #7968ce, #a026bf);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 25em) {
  .heading-primary {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .heading-primary {
    margin: 0;
  }
}

.icon {
  margin-right: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .icon {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .icon {
    margin-right: 0.1rem;
  }
}

@media only screen and (max-width: 17.5em) {
  .icon {
    margin: 0;
  }
}

.heading-secondary {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 2rem;
  letter-spacing: 0.7rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a292f5),
    to(#7968ce),
    to(#4e00c2),
    to(#a026bf)
  );
  background-image: linear-gradient(
    to right,
    #a292f5,
    #7968ce,
    #4e00c2,
    #a026bf
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 25em) {
  .heading-secondary {
    font-size: 1.3rem;
  }
}

textarea {
  border: 1px solid #7968ce;
  margin: 2rem 0;
  border-radius: 0.5rem;
  width: 60rem;
  min-height: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: transparent;
  color: #999;
  outline: none;
  resize: none;
  caret-color: #9c88ff;
  transition: all 0.5s ease-in;
}

@media only screen and (max-width: 53.125em) {
  textarea {
    width: 50rem;
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  textarea {
    width: 45rem;
  }
}

@media only screen and (max-width: 26.25em) {
  textarea {
    width: 35rem;
    min-height: 7rem;
  }
}

@media only screen and (max-width: 22.5em) {
  textarea {
    width: 33rem;
  }
}

textarea:focus {
  -webkit-box-shadow: inset 0 1px 3px 2px rgba(3, 3, 3, 0.07);
  box-shadow: inset 0 1px 3px 2px rgba(3, 3, 3, 0.07);
}

textarea::placeholder {
  color: #7968ce;
  font-size: 1.4rem;
}

.reviewer-meta {
  display: flex;
  align-items: center;
  width: 60rem;
}

@media only screen and (max-width: 53.125em) {
  .reviewer-meta {
    width: 50rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .reviewer-meta {
    width: 45rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .reviewer-meta {
    width: 35rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .reviewer-meta {
    width: 33rem;
  }
}

.reviewer-stars {
  flex: 1;
}

.btn-wrapper {
  flex: 3;
}

@media only screen and (max-width: 53.125em) {
  .btn-wrapper {
    flex: 2;
  }
}

@media only screen and (max-width: 17.5em) {
  .btn-wrapper {
    flex: 1.5;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #7968ce;
  width: 100%;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background-color: #7968ce;
  background-image: linear-gradient(to right bottom, #bfb3fd, #9c88ff, #8904aa);
  color: var(--color-white);
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 53.125em) {
  .btn {
    border: 2px solid #7968ce;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn {
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
    border: 1px solid #7968ce;
  }
}

@media only screen and (max-width: 25em) {
  .btn {
    font-size: 1rem;
  }
}

.btn:hover {
  background-image: linear-gradient(to left bottom, #bfb3fd, #9c88ff, #8904aa);
  animation: pulsate 1s ease-in-out;
}

.btn:focus {
  border: 3px solid #7968ce;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}

@media only screen and (max-width: 56.25em) {
  .wrapper {
    margin: 7rem 0;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 53.125em) {
  .wrapper {
    margin: 5rem 0;
  }
}

.list-items {
  width: 60rem;
  background-color: transparent;
  color: inherit;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
}

@media only screen and (max-width: 53.125em) {
  .list-items {
    width: 50rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .list-items {
    width: 45rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .list-items {
    width: 35rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .list-items {
    width: 33rem;
    margin-bottom: 2rem;
  }
}

.list-items::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: linear-gradient(
    0,
    #48ded4 0%,
    #a026bf 20%,
    #e82c75 60%,
    #ffc40e 85%,
    #48ded4 95%
  );
  background-attachment: fixed;
}

@media only screen and (max-width: 25em) {
  .list-items::before {
    width: 0.3rem;
  }
}

.review {
  color: #999;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  hyphens: auto;
}

@media only screen and (max-width: 37.5em) {
  .review {
    font-size: 1.4rem;
  }
}

.footer {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2.5rem 0;
}

@media only screen and (max-width: 53.125em) {
  .footer {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 45.3125em) {
  .footer {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer {
    font-size: 1.23rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .footer {
    padding: 1.3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 25em) {
  .footer {
    padding: 2rem;
    letter-spacing: 0.2rem;
  }
}

@media only screen and (max-width: 23.75em) {
  .footer {
    letter-spacing: 0.5rem;
  }
}

.footer-text {
  background-image: linear-gradient(to right, #a391fa, #3e19f8, #cb0afc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
}

.footer-text span {
  color: #cb0afc;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.footer-text span:hover {
  background-color: #f9f9f9;
  color: #cb0afc;
  transform: rotate(5deg) scale(1.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 50em) {
  .footer-text span:hover {
    transform: rotate(5deg) scale(1.15);
  }
}

.scroll {
  position: fixed;
  bottom: 3.5rem;
  right: 0.5rem;
  font-size: 4rem;
  margin-right: 2rem;
  cursor: pointer;
  animation: fadeIn 700ms ease-in-out 1s both;
}

@media only screen and (max-width: 56.25em) {
  .scroll {
    right: 21rem;
  }
}

@media only screen and (max-width: 50em) {
  .scroll {
    bottom: 1rem;
    right: 15rem;
  }
}

@media only screen and (max-width: 45.3125em) {
  .scroll {
    bottom: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .scroll {
    right: 2.75rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .scroll {
    bottom: 2rem;
    right: 1.75rem;
  }
}

@media only screen and (max-width: 25em) {
  .scroll {
    bottom: 1rem;
    right: 0rem;
  }
}

.scroll-icon-container {
  width: 3.97rem;
  height: 3.97rem;
  background-image: linear-gradient(
    to right bottom,
    #bfb3fd,
    #9c88ff,
    #7968ce,
    #a026bf,
    #8904aa
  );
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 50em) {
  .scroll-icon-container {
    width: 3.35rem;
    height: 3.35rem;
  }
}

.scroll-icon-container:hover {
  transform: scale(1.1);
  animation: pulsate 1s ease-in-out;
}

.scroll-icon {
  color: inherit;
  font-size: 2.5rem;
  transform-origin: bottom;
  backface-visibility: hidden;
  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 50em) {
  .scroll-icon {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .scroll-icon {
    font-size: 2rem;
  }
}

.scroll-icon:hover {
  transform: scale(1.1);
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 2.5rem #5ddcff, 0 0 5rem #4e00c2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
